
li {
    padding: 1em;
  }

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  list-style-type: none;
  font-size: .9em;
  
  margin: 2em 10% 0 auto;
}

.nav a {
  text-decoration: none;
  color: var(--darkText);

  transition: 200ms;
}

.nav a:hover {
  color: var(--primaryFocus);
  text-decoration:underline;
}
  
@media (max-width:769px) {
  .nav ul {
    justify-content: center;
    padding: 1em 2em;

    margin: 2em auto;
  }
}