:root{
  --mainColor: #fff;
  --primaryFocus: rgb(163, 56, 95);
  --primaryFocusTranparent: rgba(163, 56, 95, .7);
  --secondaryFocus: #9ad5ca;
  --secondaryFocusTranparent: rgba(154, 213, 202, .6);
  --details:#4A7B9D;
  --lightText: #fff;
  --darkText: #000000;
  --borders: #dadce0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  position: relative;

  max-width: 100vw;

  font-size: 15px;
  font-weight: bold;
  overflow-x: hidden;
}

a {
  text-decoration: underline;
  color: var(--primaryFocus);

  cursor:pointer;
}

/* SECTIONS */
section {
  display: flex;
  flex-direction: row;

  min-height: 80vh;
  padding: 6em 5em 6em 2em;
}

/* SECTION TITLES */

section .title {
  text-align: right;
  width: 25%;
  padding-right: 1em;
  margin-right: 1em;
  border-right: 1px solid var(--borders);
}

/* SECTION CONTENT */

section .content {
  width: 75%;
  line-height: 1.7;
}


/* PROJECTS */

.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.project a {
  font-size: 1.1em;
  padding: 1em 0;
}

.project img {
  width: 200px;
  border-radius: 20px;
  border: 1px solid var(--borders);

  transition: all 0.4s ease;

  cursor: pointer;
}

.projects img:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15%);
}

.project .description {
  padding: 2em;
}

.project .description .titleButton {
  visibility: hidden;
  position: absolute;
  top: -999999;
  left: -99999;
}

.project .text a {
  visibility: hidden;
  position: absolute
}


.project .projTechs {
  font-family: 'Roboto', sans-serif;

  font-size: .8em;
  color: var(--details);
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project .projTechs span {
  width: fit-content;
  padding: .3em;
  margin: 0 3px .8em 3px;
  
  border: 1px solid;
  border-radius: 10px;
}

/* FOOTER */

footer {
  background: var(--secondaryFocus);

  padding: .8em 6em .6em;
  height: 10vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  margin: 0;
  text-align: left;
}

/* ----------------- SCREENS LARGER THAN 1200px ------------------ */

@media (min-width: 1200px) {

  .content {
    max-width: 680px;
  }

  section {
    min-height: auto;
  }
}

/* ---------------- SCREENS SMALLER THAN 1180px ---------------------- */

@media (max-width: 1180px) {
  section {
    padding: 5em 6em;
  }
  
  /* CHANGING EACH SECTION TO COLUMN DIRECTION */
  .project, .project .description,.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    justify-content: center;
  }

  .project, .project .description, .project p, .project .titleAnchor {
    padding: 0 1em 0 0;
    max-width: 400px;
    margin-top: 0;
  }

  .aboutMe .content {
    padding-right: 1.6em;
  }

  .myPhoto {
    float: none;
    text-align: center;
    padding: 0;
  }
}
/* ------------------- TABLET/MOBILE SCREENS - SMALLER THAN 769px -------------------- */

@media (max-width:769px) {
  .App {
    font-size: 15px;
    padding-bottom: 151px;
  }

  .learnMore {
    visibility: hidden;
  }

  /* SECTION */

  section {
    position:relative;

    padding: 2em 5em;

    /* TITLES TO BE ABOVE THE SECTION */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section .title {
    width: auto;
    margin:0;
    
    align-content: center;
    padding: 1.5em 1.5em .8em 1.5em;
    border-right: none;
    border-bottom: 1px solid var(--borders);
  }

  section .content {
    width: auto;
    text-align: justify;
    padding: 1em 0 0 0;
  }

  /* PROJECTS */

  .project {
    position: relative;
    text-align: center;
  }

  .project img {
    border-radius: 0px;
  }

  .project .description {
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project .description .titleAnchor {
    position: absolute;
    visibility: hidden;
    top: 99999;
    left: 99999;
  }
  
  .project .description .titleButton {
    visibility: visible;

    padding: .5em;
    width: 190px;

    position: relative;
    bottom: 19px;

    text-decoration: none;
    background-color: var(--primaryFocusTranparent);
    color: var(--lightText);
    cursor: pointer;
    border-radius: 0 0 10px 10px;

    display: flex;
    justify-content: space-between;
  }

  .chevronProject  {
    font-size: 1.5em;
    transform: rotate(0deg);
    transition: transform 500ms ease;

  }

  .rotate {
    transform: rotate(180deg) ;
    transition: transform 500ms ease;
  }

  .text {
    visibility: hidden;
    position: absolute;
    margin-top: 0;
    transform: translateY(-20px);
    transition: transform 500ms ease;
  }

  .textActive {
    visibility: visible;
    position: relative;

    transform: translateY(0px);

    border: solid 1px var(--borders);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
  }

  .textActive p {
    padding: 1em;
    margin: 0;
  }

  .project .textActive a {
    position: relative;
    visibility: visible;
    font-size: 1.4em;
    padding: 0 .8em;

    text-align: right;
  }


  /* FOOTER */

  footer {
    position: absolute;
    right: 0;
    left: 0;

    padding: 1em 2em;
    height: auto;

    background: var(--primaryFocus);
    color: var(--lightText);
    
  }
}

/* ----------------- SCREENS SMALLER THAN 490px  ------------------- */

@media (max-width: 490px) {
  .App {
    padding-bottom: 121px;
    font-size: 12px;
  }

  .project .description .textButton {
    width: 189px;
  
    position: relative;
    bottom: 19px;
  }
}

/* ANIMATION */
.animateSlideDown {
  transform: translateY(-35px);
  animation: slideDown 500ms forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-35px)
  }
  100% {
    transform: translateY(0)
  }
}
