.App {
  position: relative;

  font-size: 15px;
  font-weight: bold;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--darkText);

  transition: 200ms;
}

a:hover {
  color: var(--primaryFocus);
  text-decoration:underline;
}

li {
  padding: 1em;
}

/* NAV */

.nav ul {
  list-style-type: none;
  font-size: .9em;

  margin-bottom: 0;
  padding: 1em 8.5em;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


/* HERO */

.hero {
  position: relative;

  min-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;

  padding: 1em 10em 2em;

  text-align: justify;
  line-height: 2.3em;
}

.heroText {
  max-width: 80%;
}

.hero h2 {
  max-width: 70%;
  line-height:1.7;
}

.expandMore {
  text-align: center;
  font-size: 2em;
}

.expandMore svg {
  position: absolute;
  bottom: 2em;

  color: var(--primaryFocus);
  box-shadow: 1px 1px 2px 1px;
  border-radius: 10px;

  transition: all .2s;
}

.expandMore svg:hover {
  transform: translateY(10px);
}

/* ASIDE */

.aside {
  position: fixed;

  z-index: 9999999;
  right: 5%;
  top: 32%;

  background: var(--secondaryFocusTranparent);
  border-radius: 10px;

  transition: all .3s;
}

.aside:hover {
  transform: scale(1.2);
}

.aside ul {
  list-style-type: none;
  padding: 0;
  display:block;
}

/* ICONS ASIDE */

.aside .icons {
  font-size: 2em;
  color: black;

  transition: all 0.2s;
}

.aside .icons:hover {
  color: var(--details);
  transform: scale(1.2);
}

/* SECTIONS */

.section {
  display: flex;
  flex-direction: row;
  align-items: right;

  min-height: 60vh;
  padding: 2em 10em 2em 6em;
}


/* SECTION TITLES */

.sectionTitle {
  text-align: right;
  width: 28%;
  padding-right: 1em;
  margin-right: 1em;
  border-right: 1px solid #dadce0;
}

/* SECTION CONTENT */

.sectionContent {
  width: 72%;
  line-height: 1.5;
}

/* ABOUT ME*/

.aboutMe {
  background-color: var(--primaryFocus);
  color: var(--lightText);
}

.myPhoto {
  float: right;
  padding: 0 0 1em 1em;
}

.aboutMe h3 {
  shape-outside: circle();
  text-align: left;
}

/* TECHNOLOGIES */

.techs .tech {
  line-height: 0;
  font-size: 2em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.techs .tech h1 {
  padding: 0 .1em;
  margin: 0.3em;
}

/* PROJECTS */

.projects .project {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.projects .project a {
  padding: .5em 2em;
}

.projects img {
  width: 200px;
  border-radius: 20px;
  border: 1px solid #dadce0;

  transition: all 0.4s ease;

  cursor: pointer;
}

.projects img:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15%);
}

.projects .project p {
  padding: 2em;
}

/* FOOTER */

footer {
  background: var(--secondaryFocus);

  padding: .8em 6em .6em;
  height: 10vh;

  display:flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  margin: 0;
  text-align: left;
}

/* SCREENS LARGER THAN 1200px */

@media (min-width: 1200px) {
  .nav ul {
    margin-bottom: 0;
    width: 80%;
  }

  .hero {
    margin-left: 8%;
  }
  
  .heroText {
    max-width: min(60%, 700px);
  }
  
  .hero h2 {
    max-width: 100%;
    line-height:2;
  }

  .sectionContent {
    max-width: 680px;
  }
}

/* SCREENS SMALLER THAN 1180px */

@media (max-width: 1180px) {
  .section {
    padding: 2em 6em;
  }
  
    /* CHANGING EACH PROJECT TO COLUMN DIRECTION */
    .projects .project, .aboutMe .sectionContent {
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
    }

    .myPhoto {
      float: none;
      padding: 0;
    }

    .projects .project {
      border: 1px solid #dadce0;
      border-radius: 20px;
    }
  
    .projects .project p {
      padding: 0 1em 1em 1em;
      text-align: justify;
    }
}

/* MOBILE SCREENS - SMALLER THAN 769px */

@media (max-width:769px) {
  .App {
    font-size: 15px;
    padding-bottom: 151px;
  }

  .nav ul {
  justify-content: center;
  padding: 1em 2em;
  }

  .hero {
  align-items: center;
  padding: 0 5.5em 5.5em;

  min-height: 90vh;
  }

  .heroText {
    max-width: 100%;
  }

  .hero h2 {
    max-width: 100%;
    line-height:1.7;
  }

  .expandMore {
    visibility: hidden;
  }

  .section {
    position:relative;

    padding: 2em 5em;

    /* TITLES TO BE ABOVE THE SECTION */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sectionTitle {
    width: auto;
    margin:0;
    
    align-content: center;
    padding: 1.5em 1.5em .8em 1.5em;
    border-right: none;
    border-bottom: 1px solid #dadce0;
  }

  .sectionContent {
    width: auto;
    text-align: justify;
    padding: 1em 0 0 0;
  }

  .aside {
    font-size: 1.4em;

    background: hsl(169, 41%, 72%, 0.8);
    border-radius: 5px 5px 0 0;

    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .aside ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .aside .icons:active {
    color: var(--details);
  }

  footer {
    position: absolute;
    right: 0;
    left: 0;

    padding: 1em 2em;
    height: auto;

    background: var(--primaryFocus);
    color: var(--lightText);
  }
}

/* SCREENS SMALLER THAN 490px */

@media (max-width: 490px) {
  .App {
    padding-bottom: 121px;
    font-size: 12px;
  }
}

.animateExpand {
  transform: translateY(-35px);
  animation: expand 500ms forwards;
}

@keyframes expand {
  from {
    transform: translateY(-35px)
  }
  to {
    transform: translateY(0)
  }
}