@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');
body,html {
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --mainColor: #fff;
  --primaryFocus: #A43860;
  --secondaryFocus: rgb(154, 213, 202);
  --secondaryFocusTranparent: rgba(154, 213, 202, .6);
  --details:#FF9B71;
  --lightText: #fff;
  --darkText: #000000;
}